#objectViewWrapper {
  margin: 3px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  canvas {
    margin: 5px auto 0;
    display: block;
  }

  #eyes-view-canvas {
    width: max-content;
  }
}