
body {
  background-color: #333;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #8fb6a3;
}

#controls {
  margin-top: 50px;
  text-align: center;
}

a {
  color: aquamarine;
  text-decoration: none;
}